## Imports

In [2]:
import GetOldTweets3 as got3
import pandas as pd
import datetime

## Twitter data

the following @s were used to do the query:
<br>
<b>
    @Bradesco<br>
    @itau<br>
    @BancodoBrasil<br>
    @santander_br<br>
    @nubank<br>
    @Bancointer<br>
    @falanext<br>
</b>

In [12]:
#@Bradesco
#@itau
#@BancodoBrasil
#@santander_br
#@nubank
#@Bancointer
#@falanext

at = '@falanext'

tweetCriteria = got3.manager.TweetCriteria().setSince("2019-10-01").setUntil("2020-11-01").setQuerySearch(at).setMaxTweets(50000)
tweets = got3.manager.TweetManager.getTweets(tweetCriteria)

In [13]:
len(tweets)

50000

In [14]:
tweets_list = []
for t in tweets:
    tweets_list.append([t.date, t.text])

df = pd.DataFrame(tweets_list, columns=['date', 'text'])
df['date'] = [x.strftime('%Y-%m-%d') for x in df.date]

df.to_csv('data/next/next-oct2019.csv')

In [6]:
df

            date                                               text
0     2019-12-31                         @LollapaloozaBr corre aqui
1     2019-12-31                           @LollapaloozaBr POR FAVO
2     2019-12-31                                    @LollapaloozaBr
3     2019-12-31         Meu vídeo para o @falanext ficou horrível.
4     2019-12-31                                    @LollapaloozaBr
...          ...                                                ...
4918  2019-12-01  jogo rocket league tb, mas não tem nem compara...
4919  2019-12-01                             kkkkkkkkkkkk que piada
4920  2019-12-01                                            @njwnct
4921  2019-12-01              ta bom vo da uma chance pra voces....
4922  2019-12-01                      Porra pato tu ainda responde?

[4923 rows x 2 columns]

In [10]:
import seaborn as sns