## Imports

In [2]:
import GetOldTweets3 as got3
import pandas as pd
import datetime

## Twitter data

the following @s were used to do the query:
<br>
<b>
    @Bradesco<br>
    @itau<br>
    @BancodoBrasil<br>
    @nubank<br>
    @Bancointer<br>
    @falanext<br>
</b>

In [3]:
#@Bradesco
#@itau
#@BancodoBrasil
#@santander_br
#@nubank
#@Bancointer
#@falanext

at = '@itau'

tweetCriteria = got3.manager.TweetCriteria().setSince("2020-05-01").setUntil("2020-06-01").setQuerySearch(at).setMaxTweets(50000)
tweets = got3.manager.TweetManager.getTweets(tweetCriteria)

In [4]:
len(tweets)

19114

In [5]:
tweets_list = []
for t in tweets:
    tweets_list.append([t.date, t.text])

df = pd.DataFrame(tweets_list, columns=['date', 'text'])
df['date'] = [x.strftime('%Y-%m-%d') for x in df.date]

df.to_csv('data/itau/itau-may2020.csv')

In [6]:
df

             date                                               text
0      2020-05-31  Olha, será que assim resolve? Porq eu já desga...
1      2020-05-31              Meu presente de aniversário do @itau
2      2020-05-31  Boa noite.... O Itaú oferece algum tipo de maq...
3      2020-05-31  Que medo tenho eu de como serão as aulas desta...
4      2020-05-31  Caralho @itau quero bloquear um cartão por rou...
...           ...                                                ...
19109  2020-05-01  Porra @itau , propaganda “emocional” de um sen...
19110  2020-05-01  Todos se cuidando e pensando no próximo Amei o...
19111  2020-05-01  @itau vocês não tem vergonha na cara, fazer um...
19112  2020-05-01  nao!!! alias, só dura 2 horas dps tem que ser ...
19113  2020-05-01  O pior foco no seu caminho é o elevador, as go...

[19114 rows x 2 columns]

In [8]:
df2 = pd.read_csv('data/itau/itau-may2020.csv', index_col =0)
df2

             date                                               text
0      2020-05-31  Olha, será que assim resolve? Porq eu já desga...
1      2020-05-31              Meu presente de aniversário do @itau
2      2020-05-31  Boa noite.... O Itaú oferece algum tipo de maq...
3      2020-05-31  Que medo tenho eu de como serão as aulas desta...
4      2020-05-31  Caralho @itau quero bloquear um cartão por rou...
...           ...                                                ...
19109  2020-05-01  Porra @itau , propaganda “emocional” de um sen...
19110  2020-05-01  Todos se cuidando e pensando no próximo Amei o...
19111  2020-05-01  @itau vocês não tem vergonha na cara, fazer um...
19112  2020-05-01  nao!!! alias, só dura 2 horas dps tem que ser ...
19113  2020-05-01  O pior foco no seu caminho é o elevador, as go...

[19114 rows x 2 columns]